* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  text-align: center; }

.desktop {
  display: none; }

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 3rem;
  line-height: 1; }

h3 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

p,
li,
h5 {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5; }

a {
  text-decoration: none; }

.button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: #fafafa;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 2px solid #fafafa;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px; }
  .button:hover {
    background-color: #fafafa;
    color: #2d2640; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  padding: 1.5rem;
  z-index: 2;
  height: 10vh; }
  .nav__ul {
    transform: translateX(120%);
    position: fixed;
    transition: all 0.5s ease-in-out;
    background: #2b272f url(/images/bg-pattern-mobile-nav.svg) bottom/contain no-repeat;
    width: 100vw;
    height: 90vh;
    left: 0;
    top: 10%;
    padding-top: 1rem; }
  .nav__li {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    letter-spacing: 2px;
    font-size: 1.3rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.6s; }
    .nav__li a {
      color: #fafafa; }
  .nav__btn {
    width: 90%;
    font-size: 1.3rem;
    padding: 1rem 0; }

.nav__ul.show-menu {
  transform: translateX(0); }
  .nav__ul.show-menu .nav__li {
    opacity: 1; }

body.no-scroll {
  overflow-y: hidden; }

.hero {
  background-color: #2d2640;
  color: #fafafa; }
  .hero__img {
    width: 100%;
    height: auto; }
  .hero__text {
    background: url(/images/bg-pattern-intro-left-mobile.svg);
    background-position: left top;
    background-repeat: no-repeat;
    padding: 4rem 1.5rem; }
  .hero__title {
    margin-bottom: 1.5rem; }
  .hero__btn {
    margin: 1.5rem 0; }

.different {
  position: relative;
  padding-top: 5rem; }
  .different::before {
    background: url(/images/bg-pattern-intro-right-mobile.svg) no-repeat;
    height: 350px;
    width: 120px;
    content: "";
    position: absolute;
    top: -150px;
    right: 0; }
  .different__img {
    margin-bottom: 1.5rem;
    margin-top: 3rem; }
  .different__subtitle {
    margin-bottom: 1rem; }
  .different__text {
    padding: 0 1.5rem;
    font-weight: 700;
    color: #837d87;
    max-width: 500px;
    margin: auto; }

.how {
  background: #2d2640 url(/images/bg-pattern-how-we-work-mobile.svg) right top no-repeat;
  color: #fafafa;
  padding: 4rem 0;
  margin: 5rem 1.5rem; }
  .how__title {
    margin-bottom: 2rem; }

.footer {
  background: #fafafa;
  padding-bottom: 3rem; }
  .footer__container {
    background: url(/images/bg-pattern-footer-mobile.svg) no-repeat top/contain; }
  .footer__icons {
    padding-top: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #837d87;
    margin: 2rem 1.5rem; }
  .footer__logo {
    padding-bottom: 1.5rem; }
  .footer__social {
    padding: 0.5rem; }
  .footer__section {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .footer__title {
    color: #837d87;
    margin-bottom: 1.5rem; }
  .footer__li {
    font-weight: 700;
    padding: 0.3rem 0;
    list-style: none; }
    .footer__li a {
      color: #2d2640; }

@media (min-width: 600px) {
  .desktop {
    display: block; }
  .mobile {
    display: none; } }

@media (min-width: 800px) {
  body {
    text-align: left; }
  .nav__hamburger {
    display: none; }
  h3 {
    font-size: 2rem; }
  .button {
    width: auto;
    padding: 0.5rem 2rem;
    font-size: 1rem; }
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem; }
  .nav {
    padding-top: 1.5rem;
    align-items: center;
    background: none; }
    .nav__ul {
      display: flex;
      align-items: center;
      transform: none;
      height: auto;
      width: auto;
      background: none;
      top: 0;
      position: inherit; }
    .nav__li {
      opacity: 1;
      list-style: none;
      padding: 0 1rem;
      font-size: 1rem; }
      .nav__li a {
        color: #837d87;
        transition: all 0.4s ease-in; }
        .nav__li a:hover {
          color: #2d2640;
          transform: scale(1.1); }
      .nav__li:last-child {
        padding-right: 0; }
    .nav__btn {
      color: #2d2640;
      border: 2px solid #2d2640; }
      .nav__btn:hover {
        background: #2d2640;
        color: #fafafa; }
  .hero {
    background: linear-gradient(#2d2640 70%, white 70%);
    position: relative;
    padding: 5rem 0; }
    .hero__container {
      display: flex;
      flex-direction: row-reverse; }
    .hero__img {
      width: 50%; }
    .hero__text {
      background: none;
      padding: 0;
      padding-right: 1rem;
      padding-top: 3rem;
      position: relative; }
      .hero__text::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        top: 0;
        left: 0;
        border-bottom: 2px solid #95a9c6; }
    .hero__title {
      max-width: 500px; }
    .hero::before {
      content: "";
      background: url(/images/bg-pattern-intro-left-desktop.svg) no-repeat;
      background-size: contain;
      height: 30rem;
      width: 20rem;
      position: absolute;
      bottom: -10%;
      left: 0; }
    .hero::after {
      content: "";
      background: url(/images/bg-pattern-intro-right-desktop.svg) no-repeat;
      background-size: contain;
      height: 40rem;
      width: 20rem;
      position: absolute;
      top: 0;
      right: 0; }
  .different::before {
    background: none;
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    top: 0;
    left: 0;
    border-bottom: 2px solid #837d87; }
  .different__sections {
    display: flex; }
  .different__section {
    padding-right: 2rem; }
    .different__section:last-child {
      padding-right: 0; }
  .different__img {
    margin-top: 4rem; }
  .different__text {
    padding: 0;
    line-height: 2;
    max-width: 500px; }
  .how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    margin-top: 10rem;
    background: #2d2640 url(/images/bg-pattern-how-we-work-desktop.svg) top right/contain no-repeat; }
    .how__title {
      max-width: 40rem; }
  .footer {
    background: #fafafa url(/images/bg-pattern-footer-desktop.svg) no-repeat; }
    .footer__container {
      background: none; }
    .footer__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      margin: 10rem 0 2rem 0;
      padding-bottom: 1rem; }
    .footer__social {
      cursor: pointer;
      transition: all 0.4s ease-in; }
      .footer__social:hover {
        filter: brightness(0.5);
        transform: scale(1.05); }
    .footer__sections {
      display: flex; }
    .footer__section {
      padding-right: 10rem; }
    .footer__ul {
      position: relative; }
    .footer__li {
      transition: all 0.4s ease-in-out; }
      .footer__li::after {
        content: "";
        width: 70%;
        border-bottom: 1px solid transparent;
        display: block;
        transition: all 0.4s ease-in-out; }
      .footer__li:hover::after {
        border-bottom: 1px solid #2d2640; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem; }
  .hero__text {
    padding-right: 4rem; } }
