// Colors
$dk-violet: hsl(256, 26%, 20%);
$gray-blue: hsl(216, 30%, 68%);
$v-dk-violet: hsl(270, 9%, 17%);
$dk-grey-violet: hsl(273, 4%, 51%);
$lt-grey: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

// Hide desktop images on mobile
.desktop {
  display: none;
}

// Setting fonts
h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p,
li,
h5 {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

// Reusable button styling
.button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: $lt-grey;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 2px solid $lt-grey;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;

  &:hover {
    background-color: $lt-grey;
    color: $dk-violet;
  }
}

// Styling nav
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $lt-grey;
  padding: 1.5rem;
  z-index: 2;
  height: 10vh;

  // &__logo {
  //   height: 100%;
  // }

  &__ul {
    transform: translateX(120%);
    position: fixed;
    transition: all 0.5s ease-in-out;
    background: $v-dk-violet url(/images/bg-pattern-mobile-nav.svg)
      bottom/contain no-repeat;
    width: 100vw;
    height: 90vh;
    left: 0;
    top: 10%;
    padding-top: 1rem;
  }

  &__li {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    padding-top: 2rem;
    letter-spacing: 2px;
    font-size: 1.3rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.6s;

    a {
      color: $lt-grey;
    }
  }

  &__btn {
    width: 90%;
    font-size: 1.3rem;
    padding: 1rem 0;
  }
}

// Show menu when hamburger is clicked
.nav__ul.show-menu {
  transform: translateX(0);

  .nav__li {
    opacity: 1;
  }
}

// Stops user from scrolling when menu is showing
body.no-scroll {
  overflow-y: hidden;
}

// Hero section styling
.hero {
  background-color: $dk-violet;
  color: $lt-grey;

  &__img {
    width: 100%;
    height: auto;
  }

  &__text {
    background: url(/images/bg-pattern-intro-left-mobile.svg);
    background-position: left top;
    background-repeat: no-repeat;
    padding: 4rem 1.5rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__btn {
    margin: 1.5rem 0;
  }
}

.different {
  position: relative;
  padding-top: 5rem;

  &::before {
    background: url(/images/bg-pattern-intro-right-mobile.svg) no-repeat;
    height: 350px;
    width: 120px;
    content: "";
    position: absolute;
    top: -150px;
    right: 0;
  }

  &__img {
    margin-bottom: 1.5rem;
    margin-top: 3rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  &__text {
    padding: 0 1.5rem;
    font-weight: 700;
    color: $dk-grey-violet;
    max-width: 500px;
    margin: auto;
  }
}

// How we work section
.how {
  background: $dk-violet url(/images/bg-pattern-how-we-work-mobile.svg) right
    top no-repeat;
  color: $lt-grey;
  padding: 4rem 0;
  margin: 5rem 1.5rem;

  &__title {
    margin-bottom: 2rem;
  }
}

// Footer styling
.footer {
  background: $lt-grey;
  padding-bottom: 3rem;

  &__container {
    background: url(/images/bg-pattern-footer-mobile.svg) no-repeat top/contain;
  }

  &__icons {
    padding-top: 5rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $dk-grey-violet;
    margin: 2rem 1.5rem;
  }

  &__logo {
    padding-bottom: 1.5rem;
  }

  &__social {
    padding: 0.5rem;
  }

  &__section {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__title {
    color: $dk-grey-violet;
    margin-bottom: 1.5rem;
  }

  &__li {
    font-weight: 700;
    padding: 0.3rem 0;
    list-style: none;

    a {
      color: $dk-violet;
    }
  }
}

@media (min-width: 600px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 800px) {
  body {
    text-align: left;
  }

  .nav__hamburger {
    display: none;
  }

  h3 {
    font-size: 2rem;
  }

  .button {
    width: auto;
    padding: 0.5rem 2rem;
    font-size: 1rem;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  // Nav styling
  .nav {
    padding-top: 1.5rem;
    align-items: center;
    background: none;

    &__ul {
      display: flex;
      align-items: center;
      transform: none;
      height: auto;
      width: auto;
      background: none;
      top: 0;
      position: inherit;
    }

    &__li {
      opacity: 1;
      list-style: none;
      padding: 0 1rem;
      font-size: 1rem;

      a {
        color: $dk-grey-violet;
        transition: all 0.4s ease-in;

        &:hover {
          color: $dk-violet;
          transform: scale(1.1);
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__btn {
      color: $dk-violet;
      border: 2px solid $dk-violet;

      &:hover {
        background: $dk-violet;
        color: $lt-grey;
      }
    }
  }

  // Hero styling
  .hero {
    background: linear-gradient($dk-violet 70%, white 70%);
    position: relative;
    padding: 5rem 0;

    &__container {
      display: flex;
      flex-direction: row-reverse;
    }

    &__img {
      width: 50%;
    }

    &__text {
      background: none;
      padding: 0;
      padding-right: 1rem;
      padding-top: 3rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        top: 0;
        left: 0;
        border-bottom: 2px solid $gray-blue;
      }
    }

    &__title {
      max-width: 500px;
    }

    &::before {
      content: "";
      background: url(/images/bg-pattern-intro-left-desktop.svg) no-repeat;
      background-size: contain;
      height: 30rem;
      width: 20rem;
      position: absolute;
      bottom: -10%;
      left: 0;
    }

    &::after {
      content: "";
      background: url(/images/bg-pattern-intro-right-desktop.svg) no-repeat;
      background-size: contain;
      height: 40rem;
      width: 20rem;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  // We're different section
  .different {
    &::before {
      background: none;
      content: "";
      position: absolute;
      width: 150px;
      height: 2px;
      top: 0;
      left: 0;
      border-bottom: 2px solid $dk-grey-violet;
    }

    &__sections {
      display: flex;
    }

    &__section {
      padding-right: 2rem;

      &:last-child {
        padding-right: 0;
      }
    }

    &__img {
      margin-top: 4rem;
    }

    &__text {
      padding: 0;
      line-height: 2;
      max-width: 500px;
    }
  }

  // How we work section
  .how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    margin-top: 10rem;
    background: $dk-violet url(/images/bg-pattern-how-we-work-desktop.svg) top
      right/contain no-repeat;

    &__title {
      max-width: 40rem;
    }
  }

  // Footer section
  .footer {
    background: $lt-grey url(/images/bg-pattern-footer-desktop.svg) no-repeat;

    &__container {
      background: none;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      margin: 10rem 0 2rem 0;
      padding-bottom: 1rem;
    }

    &__social {
      cursor: pointer;
      transition: all 0.4s ease-in;

      &:hover {
        filter: brightness(0.5);
        transform: scale(1.05);
      }
    }

    &__sections {
      display: flex;
    }

    &__section {
      padding-right: 10rem;
    }

    &__ul {
      position: relative;
    }

    &__li {
      transition: all 0.4s ease-in-out;

      &::after {
        content: "";
        width: 70%;
        border-bottom: 1px solid transparent;
        display: block;
        transition: all 0.4s ease-in-out;
      }

      &:hover::after {
        border-bottom: 1px solid $dk-violet;
      }
    }
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }

  .hero__text {
    padding-right: 4rem;
  }
}
